body {
    background-color: #213C51;
}




.cart img {
    width: 30px;
    height: 30px;
}


#divider {
    margin-top: 140px;
    position: absolute;
    top: -17%;
    left: 40%;
    width: 15px;
}

.land {
    /* Creating a box */
    background-color: beige;
    padding: 20px;
    margin: 20px auto;
    /*40px top and bottom and auto is self centered. */
    margin-left: 0;
    /*removes extra left gap. */
    width: 340px;
    border-radius: 12px;
    text-align: center;

}


.land img {
    background-color: black;
    width: 300px;
    height: 300px;
    /* keeps the image inside the box */
    padding: 2px;
    /* makes space inside the box */
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;
    gap: 20px;
}

.feedback {
    color: #25343F;
    text-align: center;
    background-color: #E8E2D8;

}

.Gate {
    /* Creating a box */
    background-color: beige;
    padding: 20px;
    margin: 40px auto;
    /*40px top and bottom and auto is self centered. */
    margin-left: 0;
    /*removes extra left gap. */
    width: 340px;
    border-radius: 12px;
    text-align: center;
}

.Gate img {
    background-color: black;
    width: 300px;
    height: 300px;
    /* keeps the image inside the box */
    padding: 2px;
    /* makes space inside the box */
    margin: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.golden {
    color: #25343F;
    text-align: center;
    background-color: #E8E2D8;
}

.river {
    color: #25343F;
    text-align: center;
    background-color: #E8E2D8;
}

.valley {
    /* Creating a box */
    background-color: beige;
    padding: 20px;
    margin: 40px auto;
    /*40px top and bottom and auto is self centered. */
    margin-left: 0;
    /*removes extra left gap. */
    width: 340px;
    border-radius: 12px;
    text-align: center;
}

.valley img {
    background-color: black;
    width: 300px;
    height: 300px;
    /* keeps the image inside the box */
    padding: 2px;
    /* makes space inside the box */
    margin: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.water {
    /* Creating a box */
    background-color: beige;
    padding: 20px;
    margin: 40px auto;
    /*40px top and bottom and auto is self centered. */
    margin-left: 0;
    /*removes extra left gap. */
    width: 340px;
    border-radius: 12px;
    text-align: center;
}

.water img {
    background-color: black;
    width: 300px;
    height: 300px;
    /* keeps the image inside the box */
    padding: 2px;
    /* makes space inside the box */
    margin: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.fall {
    color: #25343F;
    text-align: center;
    background-color: #E8E2D8;
}

.one {
    color: #94B4C1;
    text-align: center;
    font-family: cursive;
}

.two {
    color: burlywood;
    text-align: center;
    font-family: cursive;
}

.three {
    color: burlywood;
    text-align: center;
    font-family: cursive;
}

nav ul {
    display: flex;
    justify-content: start;
    margin-top: 15px;
}

a {
    padding: 9px;
}